.history/
.DS_Store

nlp_project/pj1/*.json
nlp_project/pj1/*.jsonl
nlp_project/pj1/1. 环境配置与PyTorch函数实践/.ipynb_checkpoints

nlp_project/pj2/.history/
nlp_project/pj2/.ipynb_checkpoints/
nlp_project/pj2/.vector_cache/

nlp_project/pj3/CHisIEC/
nlp_project/pj3/gigaword_chn.all.a2b.uni.ite50.vecgit

nlp_project/pj4/output/
nlp_project/pj4/*.zip

Code/